@import "../node_modules/bootstrap/scss/bootstrap";

.padding-10 {
  padding: 10px;
}

.bookmark {
  font-size: 0.75rem;

  .card-subtitle {
    font-size: 0.75rem;
  }
}

.dashboard-menu {
  padding: 30px 0 10px 0; 
}